@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: iranyekanM;
  src: url("./Assests/fonts/iranyekanwebmedium.ttf");
}

/* @font-face {
  font-family: iranyekanR;
  src: url('./Assests/fonts/iranyekanwebregular.ttf');
}

@font-face {
  font-family: iranyekanT;
  src: url('./Assests/fonts/iranyekanwebthin.ttf');
} */



body{
  font-family:iranyekanM
}